<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Logs</title>
    <style>
        #header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
        }

        h1 {
            margin: 0;
            display: inline-block;
        }

        #log-window {
            border: 1px solid #ccc;
            padding: 10px;
            height: calc(100vh - 110px);
            overflow-y: scroll;
            background-color: #f9f9f9;
            font-family: monospace;
            white-space: pre;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const host = window.location.host
            const ws = new WebSocket(`ws://${host}/ws?api_key={{ api_key }}`);
            const logDiv = document.getElementById("log-window");
            const startButton = document.getElementById("start-button");
            const labelStation = document.getElementById("label-station");
            const resetButton = document.getElementById("reset-button");
            const iterationInfo = document.getElementById("iteration-info");
            const mostUncertainInfo = document.getElementById("most-uncertain-info");
            const statusInfo = document.getElementById("status-info");

            function loadDataOnStartup() {
                fetch("/ui")
                    .then(response => response.json())
                    .then(data => {
                        const { most_uncertain, iteration, status } = data

                        iterationInfo.querySelector('b').innerHTML = iteration
                        mostUncertainInfo.querySelector('b').innerHTML = most_uncertain
                        statusInfo.querySelector('b').innerHTML = status
                    });
            }

            loadDataOnStartup()

            setTimeout(loadDataOnStartup, 10000)

            ws.onmessage = function (event) {
                logDiv.innerHTML = event.data;
                logDiv.scrollTop = logDiv.scrollHeight;
            };

            startButton.addEventListener("click", () => {
                fetch("/iteration/start")
                    .then(response => response.json())
                    .then(data => {
                        alert(data.message)
                        loadDataOnStartup()
                    });
            });

            labelStation.addEventListener("click", () => {
                fetch("/station/label")
                    .then(response => response.json())
                    .then(data => {
                        alert(data.message)
                        loadDataOnStartup()
                    });
            });

            resetButton.addEventListener("click", () => {
                const proceed = confirm('Are you sure?')

                if (!proceed) {
                    return
                }

                fetch("/iteration/reset")
                    .then(response => response.json())
                    .then(data => {
                        alert(data.message)
                        loadDataOnStartup()
                    });
            });
        });
    </script>
</head>
<body>
    <div id="header">
        <div>
            <h1>Active Learning Logs | </h1>
            <span id="iteration-info">Iteration: <b>...</b></span> |
            <span id="status-info">Status: <b>...</b></span> |
            <span id="most-uncertain-info">Most uncertain: <b>...</b></span>
        </div>
        <div>
            <button id="start-button">Start Iteration</button>
            <button id="label-station">Label Station</button>
            <button id="reset-button">Reset Experiment</button>
        </div>
    </div>
    <div id="log-window"></div>
</body>
</html>
